@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for blog content */
.prose img {
  @apply rounded-lg shadow-md;
}

.prose code {
  @apply bg-gray-800 rounded px-1;
}

.prose pre {
  @apply bg-gray-800 p-4 rounded-lg;
}

.prose blockquote {
  @apply border-l-4 border-blue-500 pl-4 italic;
}